<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Document</title>
</head>

<body id="class-body">

        <div class="logo margin-cart" style="margin-bottom: 20px;"><a href="/" src="images/whc.jpg" alt=""><img class="logopic" src="images/whc.jpg"
                    alt=""></a><a class="cart" href="/cart"><i class="fa fa-shopping-cart"> </i> Cart</a></div>
        <div style="text-align: center;">
            <a href="/dashboard" class="back_to_dash"><span style="font-size: 20px;"><i class='fas fa-angle-double-left'></i> Go to Dasboard</span></a>
        </div>
        
        <div class=" mx-auto" id="cart_cont" style="height: 100%; text-align: center;">
            Cart is Empty!
        <div>

            <div id="footer" class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright:
                <a class="text-white" href="/">Web Hosting Canada</a>
            </div>
            </footer>
</body>

</html>