<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>

<body>

  <header>
    <div class="logo" ><a href="/" src="images/whc.jpg" alt=""><img class="logopic" src="images/whc.jpg" alt=""></a><a class="cart" href="/cart"><i class="fa fa-shopping-cart"> </i> Cart</a></div>
    
    <nav class=" navbar navbar-expand-lg navbar-light text-dark ">
      <div class=" navbar-nav  mx-auto">
        <ul class="nav navbar-nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active text-light" href="/">HOSTING & SERVERS</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/plans">PLANS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">WEBSITES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">EMAIL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ONLINE MARKETING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SECURITY & SSL</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div>
  </div>
  <div id="herosection">
    <img src="images/man.png" style="width: 293px; margin-left:30%; position: relative;">
    <span class="openname" style="margin-left: -30px;">Yes, we are open...</span>
    <div class="input-group mx-auto" id="search">
      <input type="search" class="form-control rounded" placeholder="Find your perfect domain" aria-label="Search"
        aria-describedby="search-addon">
      <button type="button" class="btn searbut btn-danger">search</button>
    </div>
    <a href="/login" ><span class="signin">Dashboard</span></a>
  </div>


  <div class="container mx-auto" id="services">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <img src="images/hosting.jpeg" alt="hosting" id="hosting-img">
        <h3>Web Hosting</h3>
        Get fast and unlimited web hosting for your site
        <a href="/plans" class="btn btn-danger btn-block">Get Hosting</a>
        <span class="sale">Save up to 67% Off!</span>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <img src="images/cloud.jpg" alt="cloud" id="cloud-img">
        <h3>Cloud Servers</h3>
        Take full control with our fastest virtual servers
        <a href="plans" class="btn btn-danger btn-block">Compare Clouds</a>
        <span class="sale">Sale: 50% Off!</span>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <img src="images/servers.jpg" alt="servers" id="servers-img">
        <h3>Dedicated Servers</h3>
        Boost your business with dedicated hardware
        <a href="plans" class="btn btn-danger btn-block">View Servers</a>
        <span class="sale">Save up to 140$!</span>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <img src="images/wordpress.jpeg" alt="wordpress" id="wordpress-img">
        <h3>WordPress</h3>
        Manage your WordPress websites easily
        <a href="plans" class="btn btn-danger btn-block">Get WordPress</a>
        <span class="sale">Save up to 68% Off!</span>
      </div>
    </div>
  </div>

  <footer class=" text-white" style="background-color: #3e3059;">
    <div class="container p-5 mx-auto" id="footermenu">
      <div class="row">
        <div class="col-lg-1" style="margin-left: auto">
          <p>HOSTING & SERVERS</p>
          <a href="d">Canadian Web Hosting<br></a>
          <a href="d">Canadian Cloud Servers<br></a>
          <a href="d">Reseller Web Hosting<br></a>
          <a href="d">Dedicated Servers<br></a>
          <a href="d">Managed WordPress<br></a>
          <a href="d">Anycast DNS<br></a>
          <a href="d">Free Website Migration<br></a>

        </div>
        <div class="col-lg-1">
          <p>DOMAIN NAMES</p>
          <a href="d">Domain Name Search<br></a>
          <a href="d">Domain Name Transfer<br></a>
          <a href="d">Weebly Site Builder<br></a>

        </div>
        <div class="col-lg-1">
          <p>WEBSITES</p>
          <a href="d">SSL Certificates<br></a>
          <a href="d">SiteSafe Protection<br></a>
          <a href="d">Enterprise Anti-Spam<br></a>
          <a href="d">Domain Privacy Protection<br></a>

        </div>
        <div class="col-lg-1">
          <p>EMAIL</p>
          <a href="d">Search Engine Optimization<br></a>
          <a href="d">Email Marketing<br></a>
          <a href="d">Affiliate Program<br></a>

        </div>
        <div class="col-lg-1">
          <p>ONLINE MARKETING</p>
          <a href="d">Blog & News<br></a>
          <a href="d">About WHC<br></a>
          <a href="d">WHC Reviews<br></a>
          <a href="d">Green Web Hosting<br></a>
          <a href="d">Contact us<br></a>
          <a href="d">Careers<br></a>

        </div>
        <div class="col-lg-1" style="margin-right: auto">
          <p>SECURITY & SSL</p>
          <a href="d">Help Center<br></a>
          <a href="d">Open Support Ticket<br></a>
          <a href="d">Check System Status<br></a>
        </div>
      </div>
      <br>
      <br>
      <div class="social-media">
        <a href="https://twitter.com/webhostcanada" class="fa fa-sm fa-twitter"></a>
        <a href="https://www.facebook.com/WHC.CA" class="fa fa-facebook"></a>
        <a href="https://www.youtube.com/c/WhcCa?sub_confirmation=1" class="fa fa-youtube"></a>
        <a href="https://www.instagram.com/whc.ca/" class="fa fa-instagram"></a>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="/">Web Hosting Canada</a>
    </div>
  </footer>
</body>

</html>